$font-small: 14px;
$font-normal: 18px;
$font-titles-page: 40px;
$font-subtitle-page: 32px;
$font-big: 50px;

$color-main: #000000;
$color-second: #d3661e;
$color-invalid: #FF0000;
$color-valid: #00FF00;


$breakpoints: (sm: (min-width: 576px),
  md: (min-width: 768px),
  lg: (min-width: 992px),
  xl: (min-width: 1200px),
  xxl: (min-width: 1440px),
);


@mixin media($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }

  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
    +"Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}
